<!-- DOTACE -->
<section class="sec grant" id="dotace" aria-labelledby="grant-h">
  <div class="wrap">
    <header class="grant__head">
      <h2 id="grant-h" class="h2">Úroky zaplatí stát. Papíry vyřídíme my.</h2>
      <p class="grant__sub">Nová zelená úsporám 2026 nabízí bezúročné úvěry i&nbsp;přímé dotace. Zjistíme, na co dosáhnete, a&nbsp;připravíme žádost i&nbsp;podklady pro banku. O&nbsp;úvěru rozhoduje banka, o&nbsp;dotaci SFŽP.</p>
    </header>

    <div class="grant__tabs" role="tablist" aria-label="Pro koho">
      <button role="tab" id="g-rd" aria-controls="gp-rd" aria-selected="true" tabindex="0">Rodinný dům</button>
      <button role="tab" id="g-light" aria-controls="gp-light" aria-selected="false" tabindex="-1">Senior, nižší příjem</button>
      <button role="tab" id="g-bd" aria-controls="gp-bd" aria-selected="false" tabindex="-1">Bytový dům, SVJ</button>
      <button role="tab" id="g-firma" aria-controls="gp-firma" aria-selected="false" tabindex="-1">Firma, obec</button>
    </div>

    <div class="grant__stage">
      <div class="grant__panel" role="tabpanel" id="gp-rd" aria-labelledby="g-rd">
        <div class="grant__card">
          <p class="grant__big">až 400&nbsp;000&nbsp;Kč</p>
          <p class="grant__what">na fotovoltaiku s&nbsp;baterií bez úroků. Úroky za vás platí stát.</p>
          <dl class="grant__nums">
            <div><dt>240&nbsp;000&nbsp;Kč</dt><dd>např. 6&nbsp;kWp panelů a&nbsp;6&nbsp;kWh baterie</dd></div>
            <div><dt>400&nbsp;000&nbsp;Kč</dt><dd>od 10&nbsp;kWp a&nbsp;10&nbsp;kWh, víc úvěr na FVE nedá</dd></div>
          </dl>
          <a class="link grant__calc" href="#kalkulacka">Spočítat pro můj dům</a>
        </div>
        <div class="grant__info">
          <h3>Podmínky</h3>
          <ul class="grant__list">
            <li>Rodinný dům zkolaudovaný před 1.&nbsp;1.&nbsp;2023</li>
            <li>Elektrárna od 3&nbsp;kWp na třífázové přípojce</li>
            <li>Baterie aspoň tak velká jako výkon panelů</li>
            <li>Měníte střechu? Na její zateplení počítá úvěr dalších 3&nbsp;500&nbsp;Kč/m²</li>
          </ul>
          <a class="btn btn--sun" href="#formular" data-pick="fve" data-cta="dotace-rd">Zjistit, na co dosáhnu</a>
        </div>
      </div>
      <div class="grant__panel" role="tabpanel" id="gp-light" aria-labelledby="g-light" hidden>
        <div class="grant__card">
          <p class="grant__big">až 400&nbsp;000&nbsp;Kč</p>
          <p class="grant__what">přímá dotace NZÚ Light. Vyplácí se zálohově po schválení žádosti, takže nemusíte všechno předfinancovat.</p>
          <dl class="grant__nums">
            <div><dt>120&nbsp;000&nbsp;Kč</dt><dd>fotovoltaika s&nbsp;ohřevem vody</dd></div>
            <div><dt>2&nbsp;000&nbsp;Kč/m²</dt><dd>zateplení střechy</dd></div>
          </dl>
        </div>
        <div class="grant__info">
          <h3>Pro koho</h3>
          <ul class="grant__list">
            <li>Senioři s&nbsp;nižším důchodem</li>
            <li>Domácnosti, které pobírají příspěvek na bydlení</li>
            <li>Baterie není podmínkou</li>
            <li>Jestli na dotaci dosáhnete, ověříme při prohlídce zdarma</li>
          </ul>
          <a class="btn btn--sun" href="#formular" data-cta="dotace-light">Ověřit nárok na dotaci</a>
        </div>
      </div>
      <div class="grant__panel" role="tabpanel" id="gp-bd" aria-labelledby="g-bd" hidden>
        <div class="grant__card">
          <p class="grant__big">až 250&nbsp;000&nbsp;Kč</p>
          <p class="grant__what">na každý byt jako bezúročný úvěr pro SVJ a&nbsp;družstva. Při komplexní renovaci až 750&nbsp;000&nbsp;Kč na byt.</p>
        </div>
        <div class="grant__info">
          <h3>Co pro vás uděláme</h3>
          <ul class="grant__list">
            <li>Navrhneme střechu i&nbsp;elektrárnu pro celý dům</li>
            <li>Připravíme podklady pro shromáždění vlastníků</li>
            <li>Podáme žádost a&nbsp;dohlédneme na čerpání</li>
          </ul>
          <a class="btn btn--sun" href="#formular" data-cta="dotace-bd">Chci nabídku pro náš dům</a>
        </div>
      </div>
      <div class="grant__panel" role="tabpanel" id="gp-firma" aria-labelledby="g-firma" hidden>
        <div class="grant__card">
          <p class="grant__big">Dotace i&nbsp;úvěr</p>
          <p class="grant__what">podle aktuálních výzev pro firmy a&nbsp;obce. Hlídáme je za vás.</p>
        </div>
        <div class="grant__info">
          <h3>Jak to řešíme</h3>
          <ul class="grant__list">
            <li>Spočítáme spotřebu, výkon a&nbsp;návratnost</li>
            <li>Najdeme výzvu, která na váš projekt sedí</li>
            <li>Připravíme žádost i&nbsp;podklady pro banku</li>
          </ul>
          <a class="btn btn--sun" href="#formular" data-cta="dotace-firma">Chci firemní kalkulaci</a>
        </div>
      </div>
    </div>
    <div class="grant__foot"><p class="grant__note">Orientační přehled programu Nová zelená úsporám k&nbsp;říjnu 2026. Konečnou výši schvaluje SFŽP a&nbsp;banka.</p><a class="link grant__more" href="{{link:dotace}}">Podrobně o&nbsp;dotacích a&nbsp;úvěrech</a></div>
  </div>
</section>
