<header class="top" data-top data-tone="{{tone}}">
  <div class="wrap top__in">
    <a href="{{link:uvod}}" class="top__logo" aria-label="PROOZE – úvod"><svg><use href="#logo"/></svg></a>
    <nav class="top__nav" aria-label="Hlavní">
      <a href="{{link:strechy}}"{{cur:strechy}}>Střechy</a>
      <div class="nav__dd">
        <a href="{{link:fotovoltaika}}"{{cur:fotovoltaika}}>Fotovoltaika</a>
        <div class="nav__sub">
          <a href="{{link:fotovoltaika-rodinne-domy}}"{{cur:fotovoltaika-rodinne-domy}}><b>Pro rodinné domy</b><span>Sestavy s&nbsp;baterií, úvěr NZÚ</span></a>
          <a href="{{link:fotovoltaika-firmy}}"{{cur:fotovoltaika-firmy}}><b>Pro firmy, obce a&nbsp;SVJ</b><span>Elektrárny od 20&nbsp;kWp</span></a>
        </div>
      </div>
      <a href="{{link:dotace}}"{{cur:dotace}}>Dotace 2026</a>
      <a href="{{link:o-nas}}"{{cur:o-nas}}>O nás</a>
      <a href="{{link:kontakt}}"{{cur:kontakt}}>Kontakt</a>
    </nav>
    <a class="top__tel" href="tel:+420773898698" aria-label="Zavolat 773 898 698"><svg><use href="#i-phone"/></svg><span>773 898 698</span></a>
    <a class="btn btn--ink top__cta" href="#formular" data-cta="header">Chci nabídku</a>
    <button class="top__burger" type="button" aria-expanded="false" aria-controls="menu" data-burger><span class="sr">Menu</span><i></i><i></i></button>
  </div>
  <nav class="menu" id="menu" aria-label="Mobilní" hidden data-menu>
    <a href="{{link:uvod}}"{{cur:uvod}}>Úvod</a>
    <a href="{{link:strechy}}"{{cur:strechy}}>Střechy</a>
    <a href="{{link:fotovoltaika}}"{{cur:fotovoltaika}}>Fotovoltaika</a>
    <a class="menu__sub" href="{{link:fotovoltaika-rodinne-domy}}"{{cur:fotovoltaika-rodinne-domy}}>Pro rodinné domy</a>
    <a class="menu__sub" href="{{link:fotovoltaika-firmy}}"{{cur:fotovoltaika-firmy}}>Pro firmy, obce a&nbsp;SVJ</a>
    <a href="{{link:dotace}}"{{cur:dotace}}>Dotace 2026</a>
    <a href="{{link:o-nas}}"{{cur:o-nas}}>O nás</a>
    <a href="{{link:kontakt}}"{{cur:kontakt}}>Kontakt</a>
    <a class="btn btn--sun" href="#formular" data-cta="menu">Chci nabídku</a>
  </nav>
</header>
