<!-- FORMULÁŘ -->
<section class="lead" id="poptavka" aria-labelledby="lead-h">
  <div class="lead__box">
    <div class="lead__intro">
      <h2 id="lead-h" class="h2">Zjistěte, kolik to bude stát</h2>
      <p>Pár rychlých otázek a&nbsp;kontakt. Do 24&nbsp;hodin se ozveme, domluvíme prohlídku a&nbsp;pošleme nabídku. Zdarma a&nbsp;nezávazně.</p>
      <ul class="lead__trust">
        <li><svg><use href="#i-check"/></svg>Prohlídka a&nbsp;zaměření zdarma</li>
        <li><svg><use href="#i-check"/></svg>Pevná cena před podpisem</li>
        <li><svg><use href="#i-check"/></svg>Žádost o&nbsp;úvěr nebo dotaci NZÚ připravíme za vás</li>
      </ul>
      <a class="lead__call" href="tel:+420773898698">
        <img src="assets/old/pavel-koci-ceo.jpg" alt="" width="56" height="56" loading="lazy">
        <span>Raději telefonem?<strong>773 898 698</strong><small>Pavel Kočí</small></span>
      </a>
      <button class="lead__cb" type="button" data-callback-open>Nechte nám číslo, zavoláme vám</button>
    </div>

    <form class="quiz" id="formular" data-quiz data-endpoint="{{endpoint}}" novalidate>
      <div class="quiz__head">
        <span class="quiz__count" data-count>Krok 1 ze 4</span>
        <span class="quiz__time"><svg><use href="#i-clock"/></svg><span data-time>zbývá asi 30 s</span></span>
      </div>
      <ol class="quiz__segs" data-segs aria-hidden="true"></ol>
      <div class="quiz__answers" data-choice></div>
      <div class="quiz__stage">
        <fieldset class="q" data-step="sluzba">
          <legend>Co potřebujete?</legend>
          <div class="opts opts--3">
            <label class="opt opt--ph"><input type="radio" name="sluzba" value="strecha"><span class="opt__box"><span class="opt__img"><img src="assets/img/web/taska-palena-detail-800.webp" alt="" loading="lazy" width="800" height="600"></span><span class="opt__t">Střechu</span><span class="opt__s">Oprava, výměna i nová</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ph"><input type="radio" name="sluzba" value="fve"><span class="opt__box"><span class="opt__img"><img src="assets/img/web/montaz-fve-800.webp" alt="" loading="lazy" width="800" height="600"></span><span class="opt__t">Fotovoltaiku</span><span class="opt__s">Panely, baterie, úvěr NZÚ</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ph"><input type="radio" name="sluzba" value="oboji"><span class="opt__box"><span class="opt__img"><img src="assets/img/web/rekonstrukce-leseni-800.webp" alt="" loading="lazy" width="800" height="600"><span class="opt__badge">Nejvýhodnější</span></span><span class="opt__t">Obojí najednou</span><span class="opt__s">Ušetříte za lešení</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
          </div>
        </fieldset>
        <fieldset class="q" data-step="objekt" hidden>
          <legend>O jakou stavbu jde?</legend>
          <div class="opts opts--2">
            <label class="opt opt--ic"><input type="radio" name="objekt" value="rodinny-dum"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-house"/></svg></span><span class="opt__t">Rodinný dům</span><span class="opt__s">Nebo chalupa</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="objekt" value="bytovy-dum"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-flats"/></svg></span><span class="opt__t">Bytový dům</span><span class="opt__s">SVJ nebo družstvo</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="objekt" value="firma"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-factory"/></svg></span><span class="opt__t">Firma nebo hala</span><span class="opt__s">Provozovna, sklad</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="objekt" value="obec"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-town"/></svg></span><span class="opt__t">Obec, jiné</span><span class="opt__s">Škola, úřad, jiná stavba</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
          </div>
        </fieldset>
        <fieldset class="q" data-step="strecha" hidden>
          <legend>Co je se střechou?</legend>
          <div class="opts opts--2">
            <label class="opt opt--ic"><input type="radio" name="strecha" value="oprava"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-drop"/></svg></span><span class="opt__t">Zatéká</span><span class="opt__s">Potřebuje opravu</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="strecha" value="uprava"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-tiles"/></svg></span><span class="opt__t">Výměna krytiny</span><span class="opt__s">Krov je v pořádku</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="strecha" value="rekonstrukce"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-hammer"/></svg></span><span class="opt__t">Celá rekonstrukce</span><span class="opt__s">I s krovem a zateplením</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="strecha" value="nova"><span class="opt__box"><span class="opt__ic"><svg><use href="#i-newhouse"/></svg></span><span class="opt__t">Nová střecha</span><span class="opt__s">Na novostavbu</span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
          </div>
        </fieldset>
        <fieldset class="q" data-step="spotreba" hidden>
          <legend>Kolik teď platíte za elektřinu měsíčně?</legend>
          <div class="opts opts--2">
            <label class="opt opt--ic"><input type="radio" name="spotreba" value="do-2000"><span class="opt__box"><span class="opt__t">Do 2&nbsp;000&nbsp;Kč</span><span class="opt__s">Menší domácnost</span><span class="opt__bars" aria-hidden="true"><i class="on"></i><i class=""></i><i class=""></i><i class=""></i></span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="spotreba" value="2000-4000"><span class="opt__box"><span class="opt__t">2&nbsp;000–4&nbsp;000&nbsp;Kč</span><span class="opt__s">Běžný rodinný dům</span><span class="opt__bars" aria-hidden="true"><i class="on"></i><i class="on"></i><i class=""></i><i class=""></i></span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="spotreba" value="4000-7000"><span class="opt__box"><span class="opt__t">4&nbsp;000–7&nbsp;000&nbsp;Kč</span><span class="opt__s">Tepelné čerpadlo, bazén</span><span class="opt__bars" aria-hidden="true"><i class="on"></i><i class="on"></i><i class="on"></i><i class=""></i></span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
            <label class="opt opt--ic"><input type="radio" name="spotreba" value="nad-7000"><span class="opt__box"><span class="opt__t">Víc nebo nevím</span><span class="opt__s">Spočítáme z vyúčtování</span><span class="opt__bars" aria-hidden="true"><i class="on"></i><i class="on"></i><i class="on"></i><i class="on"></i></span><i class="opt__ok" aria-hidden="true"><svg><use href="#i-check"/></svg></i></span></label>
          </div>
        </fieldset>
        <fieldset class="q q--contact" data-step="kontakt" hidden>
          <legend>Komu máme zavolat?</legend>
          <div class="fields">
            <label class="hp" aria-hidden="true">Web <input name="web" tabindex="-1" autocomplete="off"></label>
            <label class="f"><span>Jméno</span><span class="f__in"><svg><use href="#i-user"/></svg><input name="jmeno" autocomplete="name" required aria-describedby="jmeno-e" placeholder="Jan Novák"></span><small class="f__e" id="jmeno-e" hidden>Napište, jak vám máme říkat.</small></label>
            <label class="f"><span>Telefon</span><span class="f__in"><svg><use href="#i-phone"/></svg><input name="telefon" type="tel" autocomplete="tel" inputmode="tel" required aria-describedby="tel-e" placeholder="777 123 456"></span><small class="f__e" id="tel-e" hidden>Telefon zadejte jako 9 číslic, třeba 777 123 456.</small></label>
            <label class="f"><span>E-mail <em>nepovinné</em></span><span class="f__in"><svg><use href="#i-mail"/></svg><input name="email" type="email" autocomplete="email" aria-describedby="email-e" placeholder="jan@seznam.cz"></span><small class="f__e" id="email-e" hidden>Zkontrolujte e-mail, třeba jan@seznam.cz.</small></label>
            <label class="f"><span>Obec nebo PSČ stavby</span><span class="f__in"><svg><use href="#i-pin"/></svg><input name="psc" autocomplete="address-level2" maxlength="60" required aria-describedby="psc-e" placeholder="Slaný"></span><small class="f__e" id="psc-e" hidden>Napište obec nebo PSČ, ať víme, kam pojedeme.</small></label>
            <label class="f f--wide"><span>Poznámka <em>nepovinné</em></span><span class="f__in"><svg><use href="#i-note"/></svg><input name="poznamka" placeholder="Např. zatéká u komína, chceme i baterii…"></span></label>
          </div>
          <p class="quiz__err" data-err role="alert" hidden></p>
          <button class="btn btn--sun btn--block quiz__submit" type="submit">Chci nabídku zdarma<svg><use href="#i-arrow"/></svg></button>
          <ul class="quiz__trust">
            <li><svg><use href="#i-lock"/></svg>Údaje nikomu nepředáme</li>
            <li><svg><use href="#i-phone"/></svg>Ozveme se do 24&nbsp;hodin</li>
            <li><svg><use href="#i-check"/></svg>Nezávazně a&nbsp;zdarma</li>
          </ul>
          <p class="quiz__legal">Odesláním souhlasíte se <a href="{{link:ochrana-osobnich-udaju}}">zpracováním osobních údajů</a> za účelem vyřízení poptávky.</p>
        </fieldset>
        <div class="q q--done" data-step="hotovo" hidden tabindex="-1">
          <span class="done__ic" aria-hidden="true"><svg viewBox="0 0 52 52"><circle cx="26" cy="26" r="24"/><path d="m15 27 7.5 7.5L38 19"/></svg></span>
          <h3>Hotovo, poptávka je u&nbsp;nás.</h3>
          <p>Do 24&nbsp;hodin vám zavoláme z&nbsp;čísla <a href="tel:+420773898698">773&nbsp;898&nbsp;698</a>, ať ho poznáte.</p>
          <ul class="done__sum" data-summary></ul>
          <ol class="done__next">
            <li><b>Zavoláme vám</b><span>a domluvíme prohlídku</span></li>
            <li><b>Přijedeme</b><span>zaměřit střechu zdarma</span></li>
            <li><b>Pošleme nabídku</b><span>s pevnou cenou</span></li>
          </ol>
          <p class="done__fix">Fotky střechy nebo vyúčtování můžete poslat na <a href="mailto:info@prooze.cz">info@prooze.cz</a>. Spletli jste se v&nbsp;čísle? Zavolejte nám.</p>
        </div>
      </div>
      <div class="quiz__foot">
        <button class="quiz__back" type="button" data-back hidden><svg><use href="#i-arrow"/></svg>Zpět</button>
        <p class="quiz__hint" data-hint>Zabere to půl minuty a&nbsp;nic neplatíte.</p>
        <button class="btn btn--ink quiz__next" type="button" data-next hidden>Pokračovat<svg><use href="#i-arrow"/></svg></button>
      </div>
    </form>
  </div>
</section>
