  <div class="wrap">
    <div class="mats">
      <div class="mats__side">
        <h3 class="mats__h">Krytiny, které pokládáme</h3>
        <div class="mats__tabs" role="tablist" aria-label="Krytiny">
        <button class="mats__tab" role="tab" id="mat-palena" aria-controls="matp-palena" aria-selected="true" tabindex="0" data-mat="palena"><img src="assets/img/swatch/palena.webp" alt="" width="40" height="40"><span>Pálená taška</span></button>
        <button class="mats__tab" role="tab" id="mat-betonova" aria-controls="matp-betonova" aria-selected="false" tabindex="-1" data-mat="betonova"><img src="assets/img/swatch/betonova.webp" alt="" width="40" height="40"><span>Betonová taška</span></button>
        <button class="mats__tab" role="tab" id="mat-plech" aria-controls="matp-plech" aria-selected="false" tabindex="-1" data-mat="plech"><img src="assets/img/swatch/plech.webp" alt="" width="40" height="40"><span>Plechová krytina</span></button>
        <button class="mats__tab" role="tab" id="mat-hlinik" aria-controls="matp-hlinik" aria-selected="false" tabindex="-1" data-mat="hlinik"><img src="assets/img/swatch/hlinik.webp" alt="" width="40" height="40"><span>Hliníková krytina</span></button>
        <button class="mats__tab" role="tab" id="mat-sindel" aria-controls="matp-sindel" aria-selected="false" tabindex="-1" data-mat="sindel"><img src="assets/img/swatch/sindel.webp" alt="" width="40" height="40"><span>Kanadský šindel</span></button>
        </div>
      </div>
      <div class="mats__stage">
        <div class="mats__panel" role="tabpanel" id="matp-palena" aria-labelledby="mat-palena">
          <picture class="mats__ph"><source type="image/webp" srcset="assets/img/web/taska-palena-detail-800.webp 800w, assets/img/web/taska-palena-detail-1600.webp 1600w" sizes="(max-width: 960px) 100vw, 60vw"><img src="assets/img/web/taska-palena-detail-1600.jpg" alt="Pálená taška" loading="lazy" width="1600" height="1200"></picture>
          <div class="mats__info">
            <h3>Pálená taška</h3>
            <p>Klasika, která vydrží generace. Přírodní pálená hlína v&nbsp;červené, antracitové i&nbsp;engobované úpravě. Sedí na tradiční chalupu i&nbsp;moderní dům.</p>
            <p class="mats__fact">Například Tondach Figaro 11: od 45&nbsp;kg/m², pokládka od sklonu 20°, záruka výrobce 33 let.</p>
            <div class="mats__brands"><img src="assets/brands/tondach.svg" alt="Tondach" class="" loading="lazy"></div>
          </div>
        </div>
        <div class="mats__panel" role="tabpanel" id="matp-betonova" aria-labelledby="mat-betonova" hidden>
          <picture class="mats__ph"><source type="image/webp" srcset="assets/img/web/beton-rd-800.webp 800w, assets/img/web/beton-rd-1600.webp 1600w" sizes="(max-width: 960px) 100vw, 60vw"><img src="assets/img/web/beton-rd-1600.jpg" alt="Betonová taška" loading="lazy" width="1600" height="1200"></picture>
          <div class="mats__info">
            <h3>Betonová taška</h3>
            <p>Pevná, cenově příznivá a&nbsp;rychlá na pokládku. Desítky tvarů a&nbsp;barev, od klasické vlnovky po hladkou moderní tašku.</p>
            <p class="mats__fact">Bramac Max: od sklonu 12° s&nbsp;doplňkovými opatřeními, záruka 30 let na materiál. KM Beta dává 50 let na krytinu.</p>
            <div class="mats__brands"><img src="assets/brands/bramac.svg" alt="Bramac" class="" loading="lazy"><img src="assets/brands/kmbeta-bez-claimu.svg" alt="KM Beta" class="" loading="lazy"></div>
          </div>
        </div>
        <div class="mats__panel" role="tabpanel" id="matp-plech" aria-labelledby="mat-plech" hidden>
          <picture class="mats__ph"><source type="image/webp" srcset="assets/img/web/plech-taskova-tabule-800.webp 800w, assets/img/web/plech-taskova-tabule-1600.webp 1600w" sizes="(max-width: 960px) 100vw, 60vw"><img src="assets/img/web/plech-taskova-tabule-1600.jpg" alt="Plechová krytina" loading="lazy" width="1600" height="1200"></picture>
          <div class="mats__info">
            <h3>Plechová krytina</h3>
            <p>Lehká, takže šetří starší krov, a&nbsp;rychle hotová. Taškové tabule, falcovaný plech i&nbsp;trapéz v&nbsp;mnoha odstínech.</p>
            <p class="mats__fact">Satjam Roof: jen 4,7&nbsp;kg/m², pokládka od sklonu 10°, záruka až 40 let na funkčnost po registraci střechy.</p>
            <div class="mats__brands"><img src="assets/brands/satjam.png" alt="Satjam" class="is-wide" loading="lazy"><img src="assets/brands/comax.svg" alt="Comax" class="" loading="lazy"></div>
          </div>
        </div>
        <div class="mats__panel" role="tabpanel" id="matp-hlinik" aria-labelledby="mat-hlinik" hidden>
          <picture class="mats__ph"><source type="image/webp" srcset="assets/img/web/prefa-sablony-800.webp 800w, assets/img/web/prefa-sablony-1600.webp 1600w" sizes="(max-width: 960px) 100vw, 60vw"><img src="assets/img/web/prefa-sablony-1600.jpg" alt="Hliníková krytina" loading="lazy" width="1600" height="1200"></picture>
          <div class="mats__info">
            <h3>Hliníková krytina</h3>
            <p>Nerezaví, nic neváží a&nbsp;poradí si se složitými tvary, vikýři i&nbsp;nízkým sklonem. Šablony, šindele i&nbsp;falc.</p>
            <p class="mats__fact">Prefa šablona 29×29: zhruba 2,6&nbsp;kg/m², pokládka od sklonu 22°.</p>
            <div class="mats__brands"><img src="assets/brands/prefa.svg" alt="Prefa" class="is-round" loading="lazy"></div>
          </div>
        </div>
        <div class="mats__panel" role="tabpanel" id="matp-sindel" aria-labelledby="mat-sindel" hidden>
          <picture class="mats__ph"><source type="image/webp" srcset="assets/img/web/sindel-chata-800.webp 800w, assets/img/web/sindel-chata-1600.webp 1600w" sizes="(max-width: 960px) 100vw, 60vw"><img src="assets/img/web/sindel-chata-1600.jpg" alt="Kanadský šindel" loading="lazy" width="1600" height="1200"></picture>
          <div class="mats__info">
            <h3>Kanadský šindel</h3>
            <p>Ideální na chaty, altány, přístřešky a&nbsp;členité střechy. Rychlá montáž a&nbsp;příjemná cena.</p>
            <p class="mats__fact">Například IKO Cambridge Xtreme: pokládka už od sklonu 9,5°, kolem 13&nbsp;kg/m².</p>
            <div class="mats__brands"><span class="mats__any">Značku vybereme spolu s&nbsp;vámi</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
