<!-- SESTAVY PRO RD -->
<section class="sec offers" id="sestavy" aria-labelledby="offers-h">
  <div class="wrap">
    <header class="head">
      <h2 id="offers-h" class="h2">Tři sestavy pro rodinné domy</h2>
      <p class="head__sub">Osvědčené velikosti jako výchozí bod. Přesný výkon i&nbsp;baterii doladíme podle vašich vyúčtování a&nbsp;střechy. Cenu dostanete po prohlídce, zdarma.</p>
    </header>
    <div class="offers__grid">
      <article class="offer">
        <p class="offer__name">Start</p>
        <p class="offer__kwp">5,4&nbsp;kWp <span>+ baterie 6&nbsp;kWh</span></p>
        <p class="offer__for">Menší dům nebo chalupa, za elektřinu platíte kolem 2&nbsp;000–2&nbsp;500&nbsp;Kč měsíčně.</p>
        <dl class="offer__spec">
          <div><dt>Panely</dt><dd>12 × 450&nbsp;Wp, Longi nebo Trina</dd></div>
          <div><dt>Střídač</dt><dd>hybridní třífázový, GoodWe nebo Solax</dd></div>
          <div><dt>Baterie</dt><dd>6&nbsp;kWh</dd></div>
          <div><dt>Výroba</dt><dd>zhruba 5&nbsp;400&nbsp;kWh za rok</dd></div>
          <div><dt>Na střeše</dt><dd>asi 24&nbsp;m²</dd></div>
        </dl>
        <p class="offer__loan">Bezúročný úvěr NZÚ až <b>225&nbsp;000&nbsp;Kč</b></p>
        <a class="btn btn--line btn--block" href="#formular" data-offer data-sluzba="fve" data-objekt="rodinny-dum" data-spotreba="2000-4000" data-note="Sestava Start: 5,4 kWp + baterie 6 kWh" data-cta="sestava-start">Chci sestavu Start</a>
      </article>
      <article class="offer offer--hot">
        <p class="offer__tag">Nejčastější volba</p>
        <p class="offer__name">Optimum</p>
        <p class="offer__kwp">8,1&nbsp;kWp <span>+ baterie 10&nbsp;kWh</span></p>
        <p class="offer__for">Běžný rodinný dům pro čtyřčlennou rodinu, platba kolem 3&nbsp;000–4&nbsp;500&nbsp;Kč měsíčně.</p>
        <dl class="offer__spec">
          <div><dt>Panely</dt><dd>18 × 450&nbsp;Wp, Longi nebo Trina</dd></div>
          <div><dt>Střídač</dt><dd>hybridní třífázový, GoodWe nebo Solax</dd></div>
          <div><dt>Baterie</dt><dd>10&nbsp;kWh</dd></div>
          <div><dt>Výroba</dt><dd>zhruba 8&nbsp;100&nbsp;kWh za rok</dd></div>
          <div><dt>Na střeše</dt><dd>asi 35&nbsp;m²</dd></div>
        </dl>
        <p class="offer__loan">Bezúročný úvěr NZÚ až <b>352&nbsp;500&nbsp;Kč</b></p>
        <a class="btn btn--ink btn--block" href="#formular" data-offer data-sluzba="fve" data-objekt="rodinny-dum" data-spotreba="2000-4000" data-note="Sestava Optimum: 8,1 kWp + baterie 10 kWh" data-cta="sestava-optimum">Chci sestavu Optimum</a>
      </article>
      <article class="offer">
        <p class="offer__name">Komfort</p>
        <p class="offer__kwp">10,8&nbsp;kWp <span>+ baterie 15&nbsp;kWh</span></p>
        <p class="offer__for">Větší dům, tepelné čerpadlo nebo elektromobil, platba nad 5&nbsp;000&nbsp;Kč měsíčně.</p>
        <dl class="offer__spec">
          <div><dt>Panely</dt><dd>24 × 450&nbsp;Wp, Longi nebo Trina</dd></div>
          <div><dt>Střídač</dt><dd>hybridní třífázový, GoodWe nebo Solax</dd></div>
          <div><dt>Baterie</dt><dd>15&nbsp;kWh</dd></div>
          <div><dt>Navíc</dt><dd>wallbox pro elektromobil</dd></div>
          <div><dt>Výroba</dt><dd>zhruba 10&nbsp;800&nbsp;kWh za rok</dd></div>
        </dl>
        <p class="offer__loan">Bezúročný úvěr NZÚ až <b>400&nbsp;000&nbsp;Kč</b></p>
        <a class="btn btn--line btn--block" href="#formular" data-offer data-sluzba="fve" data-objekt="rodinny-dum" data-spotreba="4000-7000" data-note="Sestava Komfort: 10,8 kWp + baterie 15 kWh + wallbox" data-cta="sestava-komfort">Chci sestavu Komfort</a>
      </article>
    </div>
    <div class="offers__incl">
      <p class="offers__inclh">V&nbsp;každé sestavě je</p>
      <ul>
        <li><svg><use href="#i-check"/></svg>montáž pokrývači i&nbsp;elektrikáři</li>
        <li><svg><use href="#i-check"/></svg>revize a&nbsp;připojení k&nbsp;síti</li>
        <li><svg><use href="#i-check"/></svg>monitoring v&nbsp;mobilu</li>
        <li><svg><use href="#i-check"/></svg>vyřízení úvěru nebo dotace</li>
      </ul>
    </div>
  </div>
</section>
