<!-- ELEKTRÁRNY PRO FIRMY -->
<section class="sec offers" id="elektrarny" aria-labelledby="offf-h">
  <div class="wrap">
    <header class="head">
      <h2 id="offf-h" class="h2">Elektrárny pro firmy a&nbsp;obce</h2>
      <p class="head__sub">Velikost navrhujeme podle spotřeby přes den a&nbsp;volné plochy střechy. Kalkulaci s&nbsp;návratností připravíme zdarma.</p>
    </header>
    <div class="offers__grid offers__grid--4">
      <article class="offer">
        <p class="offer__name">Provozovna</p>
        <p class="offer__kwp">20&nbsp;kWp</p>
        <p class="offer__for">Menší firma, dílna, obchod nebo obecní budova.</p>
        <dl class="offer__spec">
          <div><dt>Výroba</dt><dd>až 20&nbsp;000&nbsp;kWh za rok</dd></div>
          <div><dt>Na střeše</dt><dd>cca 110&nbsp;m²</dd></div>
          <div><dt>CO₂</dt><dd>úspora asi 9&nbsp;t ročně</dd></div>
        </dl>
        <a class="btn btn--line btn--block" href="#formular" data-offer data-sluzba="fve" data-objekt="firma" data-note="Elektrárna pro firmu: 20 kWp" data-cta="firma-20">Chci kalkulaci 20&nbsp;kWp</a>
      </article>
      <article class="offer offer--hot">
        <p class="offer__tag">Nejčastější volba</p>
        <p class="offer__name">Výroba a&nbsp;sklady</p>
        <p class="offer__kwp">50&nbsp;kWp</p>
        <p class="offer__for">Středně velká firma s&nbsp;provozem přes den.</p>
        <dl class="offer__spec">
          <div><dt>Výroba</dt><dd>až 50&nbsp;000&nbsp;kWh za rok</dd></div>
          <div><dt>Na střeše</dt><dd>cca 270&nbsp;m²</dd></div>
          <div><dt>CO₂</dt><dd>úspora asi 22&nbsp;t ročně</dd></div>
        </dl>
        <a class="btn btn--ink btn--block" href="#formular" data-offer data-sluzba="fve" data-objekt="firma" data-note="Elektrárna pro firmu: 50 kWp" data-cta="firma-50">Chci kalkulaci 50&nbsp;kWp</a>
      </article>
      <article class="offer">
        <p class="offer__name">Průmysl</p>
        <p class="offer__kwp">100&nbsp;kWp</p>
        <p class="offer__for">Haly, logistika a&nbsp;provozy s&nbsp;vysokou spotřebou.</p>
        <dl class="offer__spec">
          <div><dt>Výroba</dt><dd>až 100&nbsp;000&nbsp;kWh za rok</dd></div>
          <div><dt>Na střeše</dt><dd>cca 550&nbsp;m²</dd></div>
          <div><dt>CO₂</dt><dd>úspora asi 45&nbsp;t ročně</dd></div>
        </dl>
        <a class="btn btn--line btn--block" href="#formular" data-offer data-sluzba="fve" data-objekt="firma" data-note="Elektrárna pro firmu: 100 kWp" data-cta="firma-100">Chci kalkulaci 100&nbsp;kWp</a>
      </article>
      <article class="offer offer--custom">
        <p class="offer__name">Na míru</p>
        <p class="offer__kwp">Nad 100&nbsp;kWp</p>
        <p class="offer__for">Velké střechy, víc budov, sdílení elektřiny mezi provozy nebo obecními objekty.</p>
        <p class="offer__txt">Začneme rozborem vaší spotřeby po čtvrthodinách od distributora a&nbsp;navrhneme výkon, baterii i&nbsp;řízení přetoků.</p>
        <a class="btn btn--sun btn--block" href="#formular" data-offer data-sluzba="fve" data-objekt="firma" data-note="Elektrárna pro firmu nad 100 kWp" data-cta="firma-custom">Domluvit konzultaci</a>
      </article>
    </div>
    <div class="offers__incl">
      <p class="offers__inclh">Vždy v&nbsp;ceně</p>
      <ul>
        <li><svg><use href="#i-check"/></svg>kalkulace s&nbsp;návratností zdarma</li>
        <li><svg><use href="#i-check"/></svg>projekt a&nbsp;připojení k&nbsp;síti</li>
        <li><svg><use href="#i-check"/></svg>monitoring výkonu</li>
        <li><svg><use href="#i-check"/></svg>pomoc s&nbsp;dotací a&nbsp;financováním</li>
      </ul>
    </div>
  </div>
</section>
